.container {
  form {
    width: 400px;

    p-button {
      width: 100%;
      display: block;

      ::ng-deep button {
        width: 100%;
      }
    }

    p-dropdown {
      width: 100%;
      display: block;

      ::ng-deep .p-dropdown {
        width: 100%
      }
    }
  }
}
